/* Set default font family and font size */
body {
  font-family: var(--header-font), sans-serif;
  font-size: 16px;
  background: var(--background-color)
}

/* Set default colors */
:root {
  --primary-color: #FF5E5E;
  --secondary-color: #00C7B7;
  --text-color: #FFFFFF;
  --muted-text-color: #504f4f;
  --muted-bg-color: #222222;
  --background-color: #0F0F0F;
  --header-font: 'Inter';
  --normal-font: 'Nunito'
}

/* Set color scheme for dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #FFFFFF;
    --background-color: #0C0C0C;
  }
}

/* Set color scheme for light mode */
@media (prefers-color-scheme: light) {
  :root {
    --text-color: #333333;
    --background-color: #F0F0F0;
  }
}
